<div class="container">
  <video [src]="urlVideo" controls width="500px" height="300px" #video>
    Seu browser não suporta a tag de vídeo
  </video>
  <input
    type="file"
    id="arquivo"
    class="form-control mt-3 ml-3"
    (change)="onFileSelected($event)"
    accept="video/*"
  />
  <button class="btn btn-primary mt-3 ml-3" (click)="capturarImagem()">
    Capturar Imagem
  </button>
  @if (urlImagem) {
  <img
    [src]="urlImagem"
    class="mt-3"
    alt="Imagem Capturada"
    [style]="{ width: '320px', height: 'auto' }"
  />
  }
</div>

<router-outlet />
